{font-family:Arial;}

p, h1, h2, h3, h4, h5, h6{
	font-family: arial;
}
h1 {
	margin-top: 14px;
}
#header-section {
	display: block;
}
#header-logo {
	display: inline-block;
	padding-left: 8px;
}
#title {
	display: inline-block; vertical-align: top;
	height: 40px;
	width: 350px;
}
#header-options {
	display: inline-block; vertical-align: top;
	border-style: solid;
	border-top-style: none;
	border-width: 1px;
	border-radius: 4px;
	width: 360px;
	height: 27px;
	color: grey;
}
#header-headline {
	background: linear-gradient(#0099FF, blue);
	color: white;
	width: 870px;
	padding-left: 5px;
	padding-top: .1px;
	padding-bottom: .1px;
	font-size: 12px;
}
#side-section {
	display: inline-block;
	width: 220px;
	padding-top: 27px;
	padding-left: 10px;
}
#schedule {
	height: 20px;
	width: 140px;
	background: linear-gradient(#0099FF, blue);
	color: white;
	padding: 14px 28px 10px 28px;
	border-style: #246BB2 solid;
	border-radius: 4px;
}
#login {
	height: 20px;
	width: 45px;
	background: linear-gradient(#0099FF, blue);
	border-style: #246BB2 solid;
	border-radius: 4px;
	padding: 4px 2px 0px 9px;
	margin-left: 6px;
	color: white;
}
#free {
	height: 20px;
	width: 140px;
	background: linear-gradient(#FF6600, orange);
	color: white;
	padding: 10px 6px 10px 50px;
	border-style: #246BB2 solid;
	border-radius: 4px;
	margin-top: 8px;
}
#today {
	height: 24px;
	width: 140px;
	background: linear-gradient(#6BB224, green, #6BB224);
	color: white;
	padding: 15px 22px 6px 22px;
	border-style: green solid;
	border-radius: 4px;
	margin-top: 8px;
	font-size: 18px;
}
#credit {
	border-bottom-style: 1px solid;
}
#size10 {
	font-size: 10px;
}
#reg {
	font-size: 12px;
}
#credit {
	display: inline-block; text-align: center;
	width: 195px;
}
#main-section {
	display:  inline-block; vertical-align: top;
	width: 570px;
	font-size: 12px;
}
#main-content {
	width: 570px;
}
#ppc {
	display: inline-block; vertical-align: top;
	padding-top: 43px;
}
#phone {
	display: inline-block; vertical-align: center;
	padding-left: 240px;
	padding-top: 18px;
}
#phone_info {
	display: inline-block; vertical-align: top;
	padding-top: 10px;
	width: 220px;
	height: 24px;
	font-family: arial;
}
#phone-info2 {
	font-size: 14px;
}
#blue-number {
	color: #246BB2;
	font-size: 33px;
	font-family: arial;
	font-weight: bold;
}
#main-ad {
	display: inline-block; vertical-align: top;
	height: 138px;
	width: 600px;
	border-style: solid;
	border-width: 3px;
	border-color: #246BB2;

}
#ad {
	display: inline-block;
	width: 59px;
}
#ad2 {
	display: inline-block; vertical-align: top;
	width: 511px;

}
.grey {
	color: grey;
}
.blue {
	color: #246BB2;
	font-size: 12px;
}
.blue2 {
	color: #246BB2;

	}
.blue_under {
	color: #246BB2;
	text-decoration: underline;
}
.red {
	color: red;
	font-size: 12px;
}
.bold {
	font-weight: bold;
}
h3 {
	color: #246BB2;
	font-size: 16px;
}
h4 {
	color: #246BB2;
	font-size: 10px;
}
#products {	
	display: inline;
	margin: 3px;
	margin-left: 10px;
	font-size: small;
	border-right-style: solid;
	padding-right: 9px
}
#learn {	
	display: inline;
	margin: 3px;
	margin-left: 0px;
	font-size: small;
	border-right-style: solid;
	padding-right: 9px
}
#blog {	
	display: inline;
	margin: 3px;
	margin-left: 0px;
	font-size: small;
	border-right-style: solid;
	padding-right: 9px
}
#supp {	
	display: inline;
	margin: 3px;
	margin-left: 0px;
	font-size: small;
	border-right-style: solid;
	padding-right: 9px
}
#adwords {	
	display: inline;
	margin: 3px;
	margin-left: 0px;
	font-size: small;
}
#login {
	display: inline-block; vertical-align: top;
}